<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Documentation</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Documentation</h1>
    <script type="text/javascript">
    // REPLACE_ME
  </script>
</body>
</html>