<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Hello there you fool</h1>
  {{name}}
  <script type="text/javascript">
    // REPLACE_ME
  </script>
</body>
</html>